{% extends 'ads.html' %}
{% block content2 %}

<main>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/career-guide.css') }}">

    <div class="row py-0 py-md-2 m-0">
        <div class="col-12 m-0 p-0">
            <div class="p-5 m-0" style="border-radius: 10px; border: 1px solid #EDEDED; background: linear-gradient(169deg, rgba(255, 255, 255, 0.75) 8.61%, rgba(255, 255, 255, 0.42) 76.57%);">
                <div class="p-md-5">

                    

                    <h1>Privacy Policy</h1>
                    <p class="bd-lead pb-5">Information about Privacy Compliance, Privacy Policy, User Privacy Statement, and Cookie Policies.</p>

                    <!-- <div class="bd-callout bd-callout-info">
                        <strong>As of May 16, 2024, the current default consent for specific data-restricted regions remains "denied." Plans are underway for data collection that is legally permissible in data-restrictive regions. Although this change has not been implemented at the time of writing, it may be in effect by the time you read this.</strong>
                    </div>   -->

                    <section id="privacy-statement">
                        <h3 class="pt-4 pb-1" id="introduction">1. INTRODUCTION</h3>
                        <!-- <p>Tech Career Time is dedicated to safeguarding your personal data and respecting your privacy. We collect and process personal data with utmost care.</p> -->
                        <p>Tech Career Time is dedicated to safeguarding and respecting your privacy. We collect and process data with utmost care.</p>
                        <p>Efforts have been made to either obtain the required user consent, restrict, or eliminate data collection in countries with stringent data protection laws.</p>
                        <!-- <p>This privacy statement clarifies the purpose of processing your personal data, the methods we employ to collect, manage, and protect all provided personal data, and how this information is utilized.</p> -->
                        <p>This privacy statement clarifies the purpose of processing your data, the methods we employ to collect, manage, and protect all provided data, and how this information is utilized.</p>
                        <p>
                            Additionally, this provides the contact details of the designated Data Controller, with whom inquiries may be directed: 
                            <a href="mailto:techcareertime@gmail.com">TechCareerTime@gmail.com</a>
                        </p>

                        <!-- <h3 class="pt-4 pb-1" id="introduction">2. WHY AND HOW DO WE PROCESS YOUR PERSONAL DATA?</h3> -->
                        <h3 class="pt-4 pb-1" id="introduction">2. WHY AND HOW DO WE PROCESS YOUR DATA?</h3>
                        <!-- <p>This website utilizes a range of products, notably Google Analytics and Google AdSense, to gather user data. This approach enables us to tailor the site more effectively to user needs, enhance our outreach strategies, and continuously improve all aspects of Tech Career Time and its future products.</p> -->
                        <p>This website utilizes a range of products, notably Ads and Analytics, to gather user data. This approach enables us to tailor the site more effectively to user needs, enhance our outreach strategies, and continuously improve all aspects of Tech Career Time and its future products.</p>
                        <p>Certain types of data are not collected in specific countries due to restrictive data laws.</p>

                        <!-- <h3 class="pt-4 pb-1" id="introduction">3. ON WHAT LEGAL GROUND(S) DO WE PROCESS YOUR PERSONAL DATA</h3> -->
                        <h3 class="pt-4 pb-1" id="introduction">3. ON WHAT LEGAL GROUND(S) DO WE PROCESS YOUR DATA</h3>
                        <div class="bd-callout bd-callout-info">
                            <strong>Laws can vary by region; therefore, the following information may not be applicable to your specific location.</strong>
                        </div>
                        <!-- <p>We process your personal data, because this facilitates the precise tailoring of the site to align with user preferences, augments our strategic outreach initiatives, and perpetually enhances all components of Tech Career Time along with its forthcoming products and affiliates.</p> -->
                        <p>We process your data, because this facilitates the precise tailoring of the site to align with user preferences, augments our strategic outreach initiatives, and perpetually enhances all components of Tech Career Time along with its forthcoming products and affiliates.</p>
                        <p>
                            <b>Regions Subject to Data Protection Regulations:</b>
                        </p>
                        <ul>
                            <li>Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the Union institution or body;</li>
                            <li>The processing is necessary for the performance and support of tasks carried out by the institution.</li> 
                            <!-- <li>On the security of communication, information systems, Information Security Policy and Internal Rules for handling ICT Information Security Incidents, the Information Systems Security Policy.</li> -->
                            <li>Establishing a single digital gateway to provide access to information, to procedures and to assistance and problem-solving services on accelerating the digital transformation.</li>
                            <!-- <li>The processing of personal data in regions with restrictive data laws is determined by the data collection practices permitted within that region, as well as when consent is granted. Individuals have the right to withdraw their consent at any time. It is important to note that withdrawing consent does not affect the lawfulness of processing prior to its withdrawal.</li> -->
                            <li>The processing of data in regions with restrictive data laws is determined by the data collection practices permitted within that region, as well as when consent is granted. Individuals have the right to withdraw their consent at any time. It is important to note that withdrawing consent does not affect the lawfulness of processing prior to its withdrawal.</li>
                        </ul>

                        <!-- <h3 class="pt-4 pb-1" id="introduction">4. HOW DO WE PROTECT AND SAFEGUARD YOUR PERSONAL DATA?</h3> -->
                        <h3 class="pt-4 pb-1" id="introduction">4. HOW DO WE PROTECT AND SAFEGUARD YOUR DATA?</h3>
                        <!-- <p>All personal data in electronic format, is securely stored within Tech Career Time's Google Analytics infrastructure.</p> -->
                        <!-- <p>All data in electronic format, is securely stored.</p> -->
                        <!-- <p>To safeguard your personal data, a series of technical and organizational measures have been implemented. Technical measures encompass appropriate actions to mitigate online security risks, prevent data loss, data alteration, or unauthorized access, considering both the risk associated with the processing and the nature of the personal data processed. Organizational measures are in place to ensure that access to personal data is strictly limited to authorized personnel who have a legitimate need to access the data for the purposes of this processing operation.</p> -->
                        <p>To safeguard your data, a series of technical and organizational measures have been implemented. Technical measures encompass appropriate actions to mitigate online security risks, prevent data loss, data alteration, or unauthorized access, considering both the risk associated with the processing and the nature of the data processed. Organizational measures are in place to ensure that access to data is strictly limited to authorized personnel who have a legitimate need to access the data for the purposes of this processing operation.</p>

                        <!-- <h3 class="pt-4 pb-1" id="introduction">5. WHO HAS ACCESS TO YOUR PERSONAL DATA AND TO WHOM IS IT DISCLOSED?</h3> -->
                        <h3 class="pt-4 pb-1" id="introduction">5. WHO HAS ACCESS TO YOUR DATA AND TO WHOM IS IT DISCLOSED?</h3>
                        <!-- <p>Access to personal data is granted exclusively to Google Analytics and designated staff at Tech Career Time who are directly involved in this processing operation. Furthermore, access is strictly limited to authorized personnel on a "need to know" basis.</p> -->
                        <p>Access to data is granted exclusively to Google products, affiliates and designated staff at Tech Career Time who are directly involved in this processing operation. Furthermore, access to data at Tech Career Time is restricted to authorized personnel who have a legitimate requirement for access.</p>
                        <p>The information collected may be disclosed to third parties as required by law or as necessary for the purposes for which it was collected.</p>

                        <h3 class="pt-4 pb-1" id="introduction">6. CONTACT INFORMATION</h3>
                        <!-- <p>
                            Should you have any inquiries for the Data Controlleror or if you would like to submit a complaint regarding the collection and use of your personal data, please feel free to contact: 
                            <a href="mailto:techcareertime@gmail.com">TechCareerTime@gmail.com</a>
                        </p> -->
                        <p>
                            Should you have any inquiries for the Data Controlleror or if you would like to submit a complaint regarding the collection and use of data, please feel free to contact: 
                            <a href="mailto:techcareertime@gmail.com">TechCareerTime@gmail.com</a>
                        </p>

                    </section>

                    <section id="cookies-policy">
                        <h3 class="pt-4 pb-1" id="introduction">Cookies Policy</h3>
                        <p>To make the websites of Tech Career Time work properly, we sometimes place small data files called ‘cookies’ on your device.</p>

                        <h3 class="pt-4 pb-1" id="introduction">What are cookies?</h3>
                        <p>A cookie is a small text file that is stored on your computer or mobile device by a website during your visit. It allows the website to recall your actions and preferences (such as login details, language, font size, and other display settings) for a duration of time, thereby eliminating the need to re-enter these details each time you revisit the site or navigate between pages.</p>
                        <ul>
                            <li><b>First-party</b> cookies are those placed by the website you are visiting and can only be read by that specific site. Additionally, a website may utilize external services that set their own cookies, referred to as third-party cookies.</li>
                            <li><b>Persistent cookies</b> are stored on your computer and remain intact even after you close your browser, unlike session cookies, which are automatically deleted when you end your browsing session.</li>
                        </ul>
                        <p>When you access the Tech Career Time website from an IP address that we detects is in a data-restricted region, you will receive a prompt to either accept or refuse cookies. Should this prompt not appear, default settings compliant with regional data protection laws will automatically apply.</p>
                        <p>Cookies can also be used to establish anonymised statistics about the browsing experience on our sites.</p>

                        <h3 class="pt-4 pb-1" id="introduction">How do we use cookies?</h3>
                        <p>Tech Career Time utilizes various Google products, including but not limited to Google AdSense and Google Analytics, to enhance our site's functionality, user experience, enhance our outreach and continuously improve all aspects.</p>
                        <p>Google Analytics and Google AdSense use cookies in distinct ways to help websites analyze user behavior and monetize their content, respectively. Here’s a detailed look at how each uses cookies:</p>
                        <p><b>Google Analytics Cookies</b></p>
                        <p>Google Analytics is a tool that helps website owners understand how visitors interact with their website. It uses cookies to collect information and report website usage statistics without personally identifying individual visitors to Google. Here are the key points about Google Analytics cookies:</p>
                        <ul>
                            <li><b>Tracking Visitor Behavior:</b> Google Analytics cookies are used to track a user’s interactions with a website, such as the pages they visit, the amount of time they spend on each page, and the actions they take.</li>
                            <li><b>Types of Cookies:</b> The most common Google Analytics cookies are _ga, _gid, and _gat. The _ga cookie is used to distinguish users and has a default expiration of 2 years. The _gid cookie also distinguishes users but expires after 24 hours. The _gat cookie is used to throttle the request rate, limiting the collection of data on high traffic sites, and it expires after 1 minute.</li>
                            <li><b>Purpose:</b> These cookies help website owners collect data on user behavior, which can be used to improve the website's performance and the user experience.</li>
                        </ul>
                        <p><b>Google AdSense Cookies</b></p>
                        <p>Google AdSense is an advertising placement service by Google that uses cookies to serve ads based on a user's prior visits to your website or other websites on the internet. Here’s how AdSense uses cookies:</p>
                        <ul>
                            <li><b>Targeted Advertising: </b>AdSense cookies are used to serve ads based on a user's previous visits to websites that use Google advertising services. This is known as interest-based advertising.</li>
                            <li><b>Types of Cookies: </b> Common cookies used by Google AdSense include _gads and _gac. These cookies are used to measure interactions with the ads on that domain and prevent the same ads from being shown too many times.</li>
                            <li><b>Purpose: </b>These cookies allow Google AdSense to display ads that are relevant to the user, thus providing more targeted advertising that can be more engaging to users and potentially more profitable for publishers.</li>
                        </ul>
                        <p>Both Google Analytics and Google AdSense cookies are critical for website owners who rely on data and advertising revenue. </p>
                        <p>In regions subject to data restrictions, when a cookie consent popup is presented, we collect the necessary data based on your consent preferences to ascertain your choices. If no popup appears, we set cookies in accordance with local data protection laws.</p>

                        <h3 class="pt-4 pb-1" id="introduction">Third-Party Cookies</h3>
                        <p>Some pages on our site feature content from external providers, such as YouTube. Additionally, there are links to external websites over which we have no control. Users are advised to exercise discretion before navigating to a new website.</p>

                        <h3 class="pt-4 pb-1" id="introduction">Manage Cookies?</h3>
                        <p>You have the ability to manage or delete cookies as desired. For more information, please visit <a href="https://www.aboutcookies.org/how-to-manage-and-delete-cookies">aboutcookies.org</a>.</p>

                        <h3 class="pt-4 pb-1" id="introduction">Removing Cookies from Your Device:</h3>
                        <p>You can delete all existing cookies on your device by clearing the browsing history in your browser. This action will remove cookies from all websites you have visited.</p>

                        <h3 class="pt-4 pb-1" id="introduction">Managing Site-Specific Cookies:</h3>   
                        <p>For more detailed control over site-specific cookies, you can check the privacy and cookie settings in your preferred browser.</p>   

                        <h3 class="pt-4 pb-1" id="introduction">Blocking Cookies:</h3>
                        <p>Most modern browsers can be configured to block cookies from being placed on your device. However, you may need to manually adjust your preferences each time you visit a website or a specific page. Additionally, some services and functionalities, such as logging into your profile, may not function properly without cookies.</p>

                    </section>

                    <section id="disclaimer">
                        <h3 class="pt-4 pb-1" id="introduction">Disclaimer</h3>
                        <p>The contents of the above are subject to change with little to no prior notification.</p>
                    </section>

                </div>
            </div>
        </div>
    </div>
    
</main>

{% endblock content2 %}