{% extends 'ads.html' %}
{% block content2 %}


<main>

    <!-- 1st Content box -->
    <div class="row py-2 m-0">
        <div class="col-12 m-0">
            <div class="p-5 m-0" style="border-radius: 10px; border: 1px solid #EDEDED; background: linear-gradient(169deg, rgba(255, 255, 255, 0.75) 8.61%, rgba(255, 255, 255, 0.42) 76.57%);">

                <h1 class="pt-5 px-5">404 Error</h1>
                <h1 class="pb-5 px-5">Page Not Found</h1>

            </div>
        </div>
    </div>

</main>

{% endblock content2 %}