{% extends 'base.html' %}
{% block content %}


<main>
    <div class="container p-0">
        <div class="row py-2 px-0 m-0"> <!-- Main content/body -->
            <div class="col col-lg-9 px-0 m-0"> <!-- Left content -->

             
                <div class="row py-0 m-0">
                    <div class="col-12 m-0">
                        <div class="text-center px-1 pt-0 m-0">

                            <div class="d-none d-xl-block col-md-auto web-ad m-0 pt-5 ads"> <!-- lg Web Ad -->
                                <div class="pt-1 px-1" >

                                </div>
                            </div>
                            <div class="d-block d-xl-none col-auto web-ad m-0 pt-5 ads"> <!-- sm MOB Ad -->
                               
                            </div>
                            <div class="mob-ad m-0 ads">

                            </div>

                        </div>
                    </div>
                </div>

                {% block content2 %}{% endblock %}

        
                <div class="row py-0 m-0" id="main-ads-starter">
                    <div class="col-12 m-0">
                        <div class="text-center px-1 pt-0 m-0">

                            <div class="d-none d-xl-block col-md-auto web-ad m-0 pt-5 ads"> <!-- lg Web Ad -->


                            </div>
                            <div class="d-block d-xl-none col-auto web-ad m-0 pt-5 ads"> <!-- sm MOB Ad -->
                               
                            </div>
                            <div class="mob-ad m-0 ads">
                               
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Right content -->
            <div class="d-none d-lg-block col-lg-auto mx-auto pt-5 mt-5" > 

                <!-- 

                    TODO: 
                        - Adjust padding-top for below tag making it start where left contect does on all pages; you will need to find out why "Coding Solutions" page is different from other pages "all other page seem to be same"

                 -->

                <div class="sticky-top web-ad ads" style="padding-top: 130px;">
                    
                </div>
            </div> 

            <!-- <scritp>
                TODO: Add this to Ads man iframe tag
                class="m-1"
                style += "border-radius: 5px; border: 1px solid #EDEDED; background: linear-gradient(169deg, rgba(255, 255, 255, 0.75) 8.61%, rgba(255, 255, 255, 0.42) 76.57%);"
            </scritp> -->

        </div>
    </div>
</main>

{% endblock content %}