{% extends 'base.html' %}
{% block content %}


<main>
    <div class="container p-0">
        <div class="row py-2 px-0 m-0"> <!-- Main content/body -->
            <div class="col col-lg-9 px-0 m-0"> <!-- Left content -->

                <!-- Top Ad -->
                <div class="row py-0 m-0">
                    <div class="col-12 m-0">
                        <div class="text-center px-1 pt-0 m-0">

                            <div class="d-none d-xl-block col-md-auto web-ad m-0 pt-5 ads"> <!-- lg Web Ad -->
                                <div class="pt-1 px-1" ">
                                    <!-- vvv code from Ad site vvv --> 
                                    <script type="text/javascript" src="https://udbaa.com/bnr.php?section=GeneralTopBottom&pub=848887&format=728x90&ga=g"></script>
                                    <noscript>
                                        <a href="https://yllix.com/publishers/848887" target="_blank">
                                            <img src="//ylx-aff.advertica-cdn.com/pub/728x90.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" />
                                        </a>
                                    </noscript>
                                    <!-- ^^^ code from Ad site ^^^ -->
                                </div>
                            </div>
                            <div class="d-block d-xl-none col-auto web-ad m-0 pt-5 ads"> <!-- sm MOB Ad -->
                                <!-- vvv code from Ad site vvv -->
                                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=smGeneralTopBottom&pub=848887&format=468x60&ga=g"></script>
                                <noscript>
                                    <a href="https://yllix.com/publishers/848887" target="_blank">
                                        <img src="//ylx-aff.advertica-cdn.com/pub/468x60.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" />
                                    </a>
                                </noscript>
                                <!-- ^^^ code from Ad site ^^^ -->
                            </div>
                            <div class="mob-ad m-0 ads">
                                <!-- vvv code from Ad site vvv -->
                                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=smGeneraTopBottom&pub=848887&format=300x50&ga=g"></script>
                                <noscript>
                                    <a href="https://yllix.com/publishers/848887" target="_blank">
                                        <img src="//ylx-aff.advertica-cdn.com/pub_zn9ugf.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" />
                                    </a>
                                </noscript>
                                <!-- ^^^ code from Ad site ^^^ -->
                            </div>

                        </div>
                    </div>
                </div>

                {% block content2 %}{% endblock %}

                <!-- Bottom Ad -->
                <div class="row py-0 m-0">
                    <div class="col-12 m-0">
                        <div class="text-center px-1 pt-0 m-0">

                            <div class="d-none d-xl-block col-md-auto web-ad m-0 pt-5 ads"> <!-- lg Web Ad -->
                                <!-- vvv code from Ad site vvv --> 
                                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=GeneralTopBottom&pub=848887&format=728x90&ga=g"></script>
                                <noscript>
                                    <a href="https://yllix.com/publishers/848887" target="_blank">
                                        <img src="//ylx-aff.advertica-cdn.com/pub/728x90.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" />
                                    </a>
                                </noscript>
                                <!-- ^^^ code from Ad site ^^^ -->
                            </div>
                            <div class="d-block d-xl-none col-auto web-ad m-0 pt-5 ads"> <!-- sm MOB Ad -->
                                <!-- vvv code from Ad site vvv -->
                                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=smGeneralTopBottom&pub=848887&format=468x60&ga=g"></script>
                                <noscript>
                                    <a href="https://yllix.com/publishers/848887" target="_blank">
                                        <img src="//ylx-aff.advertica-cdn.com/pub/468x60.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" />
                                    </a>
                                </noscript>
                                <!-- ^^^ code from Ad site ^^^ -->
                            </div>
                            <div class="mob-ad m-0 ads">
                                <!-- vvv code from Ad site vvv -->
                                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=smGeneraTopBottom&pub=848887&format=300x50&ga=g"></script>
                                <noscript>
                                    <a href="https://yllix.com/publishers/848887" target="_blank">
                                        <img src="//ylx-aff.advertica-cdn.com/pub_zn9ugf.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" />
                                    </a>
                                </noscript>
                                <!-- ^^^ code from Ad site ^^^ -->
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Right content -->
            <div class="d-none d-lg-block col-lg-auto mx-auto pt-5 mt-5"> 
                <div class="sticky-top pt-5 web-ad ads">
                    <!-- vvv code from Ad site vvv -->
                    <script type="text/javascript" src="https://udbaa.com/bnr.php?section=GeneralSide&pub=848887&format=160x600&ga=g"></script>
                    <noscript>
                        <a href="https://yllix.com/publishers/848887" target="_blank">
                            <img src="//ylx-aff.advertica-cdn.com/pub/160x600.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" />
                        </a>
                    </noscript>
                    <!-- ^^^ code from Ad site ^^^ -->
                </div>
            </div> 

            <!-- <scritp>
                TODO: Add this to Ads man iframe tag
                class="m-1"
                style += "border-radius: 5px; border: 1px solid #EDEDED; background: linear-gradient(169deg, rgba(255, 255, 255, 0.75) 8.61%, rgba(255, 255, 255, 0.42) 76.57%);"
            </scritp> -->

        </div>
    </div>
</main>

{% endblock content %}