{% extends 'base.html' %}
{% block content %}


<main>
    <div class="container ">
        <div class="row">
            <div class="col col-md-9 p-5">

                <div class="p-5" style="border-radius: 10px; border: 1px solid #EDEDED; background: linear-gradient(169deg, rgba(255, 255, 255, 0.75) 8.61%, rgba(255, 255, 255, 0.42) 76.57%);">
                    <h3>Pursue a career as a Software Engineer (SWE)</h3>
                    <p>
                        1. Obtain a certification from your local community college in one of the following areas:
                        Front End Web Development (FEW)
                        Back End Web Development (BEW)...
                    </p>
                    
                    <p> 
                        2. Dedicate time to prepare for technical interviews by utilizing resources such as Structy, Algo Expert, and mastering problem-solving techniques as presented in "Cracking the Coding Interview..."
                    </p>   
                    <p>
                        3. Seek assistance in job placement through programs like...
                    </p>
                </div>
                
            </div>
            <div class="d-none d-md-block col-md-auto">
             AD
            </div>
        </div>
    </div>
</main>

{% endblock content %}