{% extends 'base.html' %}
{% block content %}


<main>
   <div class="container ">
        <div class="row">
            <div class="col-12 p-5 px-10 "><div class="border rounded" style="height: 100px;">AD</div></div>
         
            <div class="col col-md-9 p-5">
                <div class="p-5" style="border-radius: 10px; border: 1px solid #EDEDED; background: linear-gradient(169deg, rgba(255, 255, 255, 0.75) 8.61%, rgba(255, 255, 255, 0.42) 76.57%);">
                    <h3>The three steps to get you Software Engineering (SWE) career</h3>
                   
                            <span>1. Choose a, b, c, or d:</span>
                            <ol type="A">
                                <li>
                                    <span>Community college certification:</span>
                                    <ul>
                                        <li><i>(requires high school diploma)</i></li>
                                        <li>May cost money (CCSF  is free for San Francisco residence) most comunity colleges are less than boot camps & give you college credits.</li>
                                        <li>Front End Web Development (FEW)</li>
                                        <li>Back End Web Development (BEW)</li>
                                        <li>Full Stack Web Development (FSW)</li>
                                    </ul>
                                </li>
                            </ol>
                        
                </div>
            </div>

            <div class="d-none d-md-block col-md-auto">
                <div class="border rounded" style="height: 350px; width: 150px;">AD</div>
            </div> 
       

            <div class="col col-md-9 p-5">
                <div class="p-5" style="border-radius: 10px; border: 1px solid #EDEDED; background: linear-gradient(169deg, rgba(255, 255, 255, 0.75) 8.61%, rgba(255, 255, 255, 0.42) 76.57%);">
                   
                            <span>2. You must get good at the technical interview process</span>
                            <ol type="A">

                                <li>
                                    <span>Structy.com</span>
                                    <ul>
                                        <li>Cost money</li>
                                        <li>This is my most recommended as it is very easy to understand with tons of videos explaining everything</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>AlgoExpert.com</span>
                                    <ul>
                                        <li>Cost money</li>
                                        <li>Easy to understand as it has video explanations</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Crack The Coding Interview</span>
                                    <ul>
                                        <li>Cost money</li>
                                        <li>Must be good at reading and learning from books</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Solve LeetCode, Hacker Rank, and Project Euler coding challenges</span>
                                    <ul>
                                        <li><b>Free</b> and paid premium version</li>
                                        <li>If you don't want to spend moeny, you can utilize this website in order to understand how to solve the coding challenge.</li>
                                    </ul>
                                </li>
                            </ol>
                       
                </div>
            </div>

            <div class="col col-md-9 p-5">
                <div class="p-5" style="border-radius: 10px; border: 1px solid #EDEDED; background: linear-gradient(169deg, rgba(255, 255, 255, 0.75) 8.61%, rgba(255, 255, 255, 0.42) 76.57%);">

                   
                            <span>3. Seek assistance in job placement through programs like...</span>
                            <!-- <ol type="A">
                                <li>
                                    <span>___</span>
                                    <ul>
                                        <li>_____</li>
                                    </ul>
                                </li>
                            </ol> -->
                       
                </div>
            </div>

            <div class="col-12 p-5 px-10 "><div class="border rounded" style="height: 100px;">AD</div></div>

        </div>
    </div>
    </div>
</main>



{% endblock content %}